@import '../../styles/_display';

.projects {
  margin: 3rem;
}

@media screen and (max-height: 768px) {
  .projects {
    margin: 0.8rem 3rem;
  }
}

.filter-time {
  height: 1.6rem;
  display: inline;
}

.project-header {
  @include flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  @include flex;
  justify-content: space-between;
  .card {
    background: #f0f0f0;
    width: 20vw;
    min-height: 70vh;
    text-align: center;
    border-radius: 1.5rem;
    padding-bottom: 2rem;
  }
  .cards-head {
    font-weight: bold;
    opacity: 0.5;
  }
}

.add-task {
  width: 15vw;
  background: #d3d3d3;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  font-size: large;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
