.sidenav {
  box-sizing: border-box;
  width: 20vw;
  height: 100vh;
  box-shadow: 0 0 5px #d9d9d9, -20px -20px 60px #ffffff;
  position: fixed;
  font-size: large;
  h2 {
    text-align: center;
  }
  a {
    color: #303030;
    text-decoration: none;
  }
}

.section1 {
  margin: 3rem 0;
}

.section2 {
  margin: 15rem 0 0 0;
}

.sidenav-section,
.s2-1 {
  box-sizing: border-box;
  display: flex;
  margin: 2rem 5rem;
  cursor: pointer;
  opacity: 0.7;
  span {
    margin-left: 6px;
  }
  span:hover {
    color: #000;
    background: rgb(240, 240, 240);
    font-weight: 600;
    transition: 0.1s ease-in;
  }
}

.copyright1 {
  opacity: 0.6;
  font-size: 0.8rem;
  text-align: center;
  margin: 20vh 1rem 0;
  a {
    font-weight: bold;
    color: rgb(0, 50, 90);
    font-style: italic;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .sidenav-section,
  .s2-1 {
    margin: 2rem 4rem;
  }
}

@media screen and (max-width: 767px) {
  .sidenav-section,
  .s2-1 {
    margin: 2rem 1rem;
  }
}
