.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin: 0 2rem;
  input {
    box-sizing: border-box;
    background: #fafafa;
    border: 1.5px solid grey;
    border-radius: 10px;
    height: 2rem;
    padding: 0 1.8rem;
    outline: none;
  }

  nav {
    ul {
      li {
        list-style: none;
        display: inline;
        margin-right: 1rem;
      }
      li:last-child {
        font-weight: bold;
      }
    }
  }
}

.search-input:focus {
  border: 2px solid #997272;
}

.search {
  .i-search {
    position: absolute;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .header {
    input {
      width: 4rem;
    }
  }
}
