@import '../../../styles/_variables';

/**** box styling for each added task ****/
.todo-listbox {
  height: auto;
  margin: 0.4rem 0.5rem;
  padding: 1px 10px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: move;
}

.dot {
  width: 25px;
  height: 25px;
  background: rgb(231, 218, 98);
}

.task-title {
  p {
    font-size: large;
    font-weight: 500;
  }
}

.note-paragraph {
  word-wrap: break-word;
  word-break: break-all;
}

.i-edit,
.i-trash {
  margin: 5px;
  cursor: pointer;
}

.i-edit {
  color: rgb(52, 133, 52);
}

.i-trash {
  color: rgb(175, 0, 0);
}
